<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="icon" href="https://www.flaticon.com/svg/static/icons/svg/2932/2932604.svg">
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheet/app.css">
</head>
<body class="preload">
    <%if(error && error.length>0){%>
        <div class="flash-messages">
            <div class="alert alert-warning">
                <%=error%>
            </div>
        </div>
    <%}%>
 
    <div class="my-container">
        <a href="/">Weather</a>
        <p class="caption">'Search for the weather forcast of any place around the world.'</p>
        <form action="/show" method="get">
            <input type="text" name="location" placeholder="Location">
            <button>Search</button>
        </form>

        <% if(searched) { %>
            <h2>Searched Location: <%= location %> </h2>

            <div class="data">
                <div class="stats">
                    <div class="front">
                        <p><span class="time"><%= data.current.weather_descriptions[0] %> </span> <br><br><span class="keys">Feels like: </span><br><span class="temp"><%= data.current.feelslike %> </span><span class="time">°C</span></p>
                    </div>
                    <div class="back">
                        <img src="<%= data.current.weather_icons[0] %> " class="image" alt="">
                    </div>
                </div>
                <div class="stats">
                    <div class="front">
                        <p><span class="keys">Local Time: </span><span class="time"><%= time %> </span><br><br> <span class="keys">Temperature: </span><br><span class="temp"><%= data.current.temperature %> </span><span class="time">°C</span></p>
                    </div>
                    <div class="back"></div>
                </div>
                <div class="stats">
                    <div class="front">
                        <p><span class="keys">UV index: <span class="time"><%= data.current.uv_index %> </span></span><br><br><span class="keys">Humidity: <br><span class="temp"><%= data.current.humidity %> </span></span></p>
                    </div>
                    <div class="back">
                        <p><span class="keys">Visibility: <span class="time"><%= data.current.visibility %> </span></span><br><br><span class="keys">Precipitation: <br><span class="temp"><%= data.current.precip %> </span></span></p>
                    </div>
                </div>
            </div>
        <% } %> 

    </div>
    
    <footer>
        Created by Ankit Biswal.
    </footer>

    <script>
        window.addEventListener("load", () => {
            document.body.classList.remove("preload");
        })
    </script>
</body>
</html>